# Workshop NEM

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/pandas_logo.png?raw=true)

### The Pandas library allows extensive applicability of functions when talking about data. With Pandas, analyzing data has become an easier task.

# Pandas module

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/Pandas.png?raw=true)

### There are two things you must know about: Series and DataFrame.

Series is a one-dimensional ndarray with axis labels. When we create a series, this is what be obtain:
series1 = pd.Series([‘Ana’,’Maria’,’Joana’])

![](https://github.com/nucleodatasciencefct/NEGI_NDS/blob/master/img/Graphics1.png?raw=true)

And what is a DataFrame? It’s basically a table with data…

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/Graphics2.png?raw=true)

A DataFrame can be created:

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/Graphics3.png?raw=true)

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]], columns=['col1', 'col2', 'col3'])

And the indexes can be numeric, like the example before, or not. For example:

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/Graphics4.png?raw=true)

In [ ]:
df2 = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])

We can also create a DataFrame using a dictionary (explain what a dictionary in python is in case there is someone that does not know):

![picture](https://drive.google.com/uc?id=1whwktWpPi9cjTeFDxTgmCCh11dJyTTzD)

In [ ]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
{'a': 100, 'b': 200, 'c': 300, 'd': 400},
{'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df3 = pd.DataFrame(mydict)

Let's look into the data in df3 and types of each column

In [ ]:
df3.head()

In [ ]:
df3.dtypes

Now we want to select specific rows and columns. There are two ways of doing this (iloc and loc methods). With iloc, we select the indexes of the rows/columns we want to select. With loc we use the labels.

df.iloc[rows,columns]

Selecting a single column, you can obtain two results: a Serie or a DataFrame.

In [ ]:
print(type(df3.iloc[0])) #Series
print(type(df3.iloc[[0]])) #DataFrames

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/Graphics11.jpg?raw=true)

**Now lets select values from the dataframe**  
Try the different examples and see what you obtain:

In [ ]:
df3.iloc[[0, 1]]

In [ ]:
df3.iloc[:3]

In [ ]:
df3.iloc[0, 1]

In [ ]:
df3.iloc[[0, 2], [1, 3]]

In [ ]:
df3.iloc[:,2:4]

In [ ]:
df3.iloc[1:3, 0:3]

In python an interval [3:6] translate to an interval from 3 (inclusive) to 6 (exclusive). Meaning that you will get things from positions 3,4 and 5, but not from 6.

Now try the .loc method:

In [ ]:
df2.loc['viper']
#df2.loc[['viper', 'sidewinder']]
#df2.loc['cobra', 'shield']
#df2.loc['cobra':'viper', 'max_speed']
#df2.loc[df2['shield'] > 6]
#df2.loc[df2['shield'] > 6, ['max_speed']]

Now try to do it by yourself

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/lets_do_it.jpg?raw=true)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/taamfp/NDS_NEM_Workshop_2020/main/data/outlets.csv')

Alright, but now the goal is to get the a DataFrame with all infomation from `items`, `item_sales` and `outlets` per `Item_Identifier`

Alright let's look to our data frame

**Ex1**   
Show Head of df

In [ ]:
df.head()

**Ex 2**  
Select the first 2 columns from the df

**Ex3**  
How many rows and columns does the table have?

**Ex4**   
Show types of the different columns

**Ex5**   
Select only the columns: `Item_Fat_Content` , `Item_Type`

![ChessUrL](https://media1.tenor.com/images/9fc9fa0ed4ad8077a9447b27296771f0/tenor.gif?itemid=4968318 "chess")

## 2. Pre-processing data and analysis

### 2.0 Overview of the Data

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/taamfp/NDS_NEM_Workshop_2020/main/data/data.csv')

In [ ]:
df.head()

### 2.0.1 Data types

In [ ]:
df.dtypes


Some important types of objects in python:  
 - **integers**  : int/int32/in64        : \[1,2,3,4\]  
 - **float**     : float/float32/float64 : \[1.7 ,2.1 ,3.4, 5.4\]  
 - **string**    : str : \['palavras','qualquer carachcter23423f95||??'\]

Alright, but in that case what type of object is the column `Item_Identifier`?  

What happen was that pandas was not confident enough to determine one type of object for that column and decided to leave it as object datatype.

![picture](https://drive.google.com/uc?id=1vfqeGGZf_3RoifjP6C44qFjF1q3hp6Wc)

Let's look at our data again again:

In [ ]:
df.head()

In order to understand the importance of each column we should understand what type and subtype of data we have.
  - Qualitative(categorical):  
    - Nominal
    - Ordinal
  - Quantitative(numerical):
    - Discrete
    - Continuous

![picture](https://drive.google.com/uc?id=1nTR9szKeMyK9okRIefZKHPdWlA1vKvZb)

In [ ]:
df.columns

In [ ]:
df.count()

## 2.1 Data problems

### 2.1.1 NULL / NaN values

Unfortunately it seems that we have some missing values in Item_Weight maybe we have some missing values in other non numerical columns. Let's check it out.

In [ ]:
df.isnull().sum()

Null values are normally represented with the string "NaN" look at `Item_Weight` in the output of the next Data Frame

In [ ]:
df[df.Item_Weight .isnull()].head(3)

When this happens we need to make a choice:
  - Ignore the rows with missing data
  - Ignore the columns with missing data
  - Replace the values with a technique like Mean of the values, Regression...

To decide this lets use simple math:  
if we drop those lines how much information do we lose?

In [ ]:
df.shape

In [ ]:
df.dropna().shape

In [ ]:
df.dropna().shape[0]/df.shape[0]

This means if we drop the columns with missing values we will be losing about 45% of the lines and that is a lot of information
...so?

Let's ignore the columns

In [ ]:
df=df.dropna(axis =1)
df.shape

**Note** : A lot of more should be taken into account when discarding values because you can lose very valuable information on the process

### 2.1.2 Bad quality data

In cases where data collection implies human action, which is very common in Industrial world, we can end up with situations like this.

In [ ]:
df.Item_Fat_Content.value_counts()

To solve this we will change the values with wrong strings to right strings.  
  
>To do this we will use dictionaries. with the following format:  
{'string we want to change': 'the right string',....  
which will tell to the **map function** how we want to change strings.  

**Map function** is as the name says a function that picks in a representation (our dictionary) and applies it to the Panda Serie.  

**note**:we also have to put in the dictionary the right strings otherwise the values will be changed to NaN and we do not want that.

In [ ]:
df.Item_Fat_Content = df.Item_Fat_Content.map({'Low Fat':'Low Fat','Regular':'Regular','LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})

In [ ]:
df.Item_Fat_Content.value_counts()

Ok Now let's unload the power of pandas!!!!

![](https://github.com/taamfp/NDS_NEM_Workshop_2020/blob/main/Images/img_pandas/pandas_power.jpg?raw=true)

## 2.2 - Univariate Analysis

Univariate Analysis is, in the majority of cases, the primary choice of analysing unique label behaviour. It can be inferential or descriptive.

We can, for example, check general statistical tendencies, using the .describe() method.

In [ ]:
df.describe()

Checking the correlation between Item_Outlet_Sales and Item_Visibility

In [ ]:
labels = ['Item_Outlet_Sales', 'Item_Visibility']
df[labels].corr()

### 2.1.1 Distribution of `Item_Outlet_Sales`

Do all Items have the same amount of sales?

In [ ]:
df['Item_Outlet_Sales'].hist()

In [ ]:
df['Item_Fat_Content'].value_counts().plot.bar()

## 2.3 - Multivariate Analysis

In Multivariate Analysis, more than one statistical outcome variable at a time is considerate.

As seen before, we can now use the .corr method for the all dataset.

In [ ]:
df.corr()

Also verifying visualy the correlation, with the use of Seaborn library.

In [ ]:
import seaborn as sns
%matplotlib inline

#Choosing the numerical labels
numerical = ['Item_Visibility','Item_MRP', 'Outlet_Establishment_Year','Item_Outlet_Sales']

df_numerical = df[numerical]

sns.heatmap(df_numerical.corr(), annot=True)

Some Multivariate Analysis plots:  
Do the clients spend more money on Low fat items or Regular Fat items?

In [ ]:
df_stats = df.groupby('Item_Fat_Content').sum()[[ 'Item_Outlet_Sales','Item_Visibility']]
df_stats.plot.bar(y='Item_Outlet_Sales')

Which of those are more Visible?

In [ ]:
df_stats.plot.bar(y='Item_Visibility')

Is this why clients buy more stuff?

In [ ]:
df.plot.scatter('Item_Visibility','Item_Outlet_Sales')

### Ask Questions to the dataset

### Thank you and remember Google is your best friend.

![](https://raw.githubusercontent.com/nucleodatasciencefct/PythonWorkshop-BioFisNDS/master/Workshop/OpenCV/media/google.jpg "chess")